// IMPORT SECTIONS
@import "../scss/sections/index";
@import "../scss/sections/accueil";

html,
body {
    margin: 0;
    padding: 0;
}

.bg {
    background-image: url(../img/restobackground.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.testbg {
    background-image: url(../img/restobackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}