@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");
.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 60%;
  padding: 5px;
  text-align: center;
  color: #FFF;
}

.titleIndex {
  font-size: 2.7rem;
  font-family: "Poiret One", cursive;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.centered p {
  display: block;
  position: relative;
  font-size: 1.5rem;
  font-family: "Raleway", sans-serif;
}

.centered a {
  font-size: 1.4rem;
  color: #FFF;
  text-decoration: none;
  padding: 0.3em;
  border-radius: 0.3em;
  letter-spacing: 4px;
  font-family: "Poiret One", cursive;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.centered a:hover {
  -webkit-text-decoration: underline 2px;
          text-decoration: underline 2px;
  text-underline-offset: 0.4em;
}

nav {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  background-color: rgba(0, 0, 0, 0.29);
  opacity: 1;
  font-family: 'Roboto Condensed', sans-serif;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  list-style: none;
}

nav a {
  color: #FFF;
  padding: 0.2em;
  font-size: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

nav a:hover {
  color: #FFCB74;
  border-radius: 0.3em;
}

nav a.active {
  border-bottom: 2px solid white;
  border-radius: 0.2em;
}

.bigTitle {
  padding-top: 15em;
  padding-bottom: 15em;
  text-align: center;
}

.bigTitle img {
  width: 60%;
}

.bigTitle h2 {
  margin-top: -0.2em;
  color: #FFF;
  font-family: "Poiret One", cursive;
  font-weight: lighter;
  letter-spacing: 0.2em;
}

.quisommesnous {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 1em;
  color: #FFF;
  background-color: #121212;
}

.quisommesnous img {
  width: 38%;
}

.quisommesnous div {
  width: 48%;
}

.quisommesnous div h2 {
  margin-top: 1em;
  margin-bottom: 2em;
  letter-spacing: 0.3em;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: bolder;
  font-family: "Poiret One", cursive;
}

.quisommesnous div p {
  margin-bottom: 2em;
  font-size: 1.1rem;
  line-height: 2em;
  font-family: "Raleway", sans-serif;
}

.quisommesnous a {
  margin-left: 85%;
  padding: 0.3em;
  color: #FFCB74;
  font-size: 1rem;
  border-radius: 0.4em;
  -webkit-text-decoration: 2px solid white;
          text-decoration: 2px solid white;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.quisommesnous a:hover {
  color: #FFF;
  background-color: #FFCB74;
}

.notesRestaurant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.notesClients {
  width: 48%;
  background-color: purple;
}

.notesClients p {
  font-size: 1.1rem;
}

.tripAdvisor {
  padding: 0.5em;
  width: 48%;
  text-align: center;
  background-color: green;
}

.tripAdvisor img {
  width: 25%;
}

html,
body {
  margin: 0;
  padding: 0;
}

.bg {
  background-image: url(../img/restobackground.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.testbg {
  background-image: url(../img/restobackground.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
/*# sourceMappingURL=all.css.map */