// IMPORT FONTS & VARIABLES
@import "../utilities/variables";

.bigTitle {
    height: 50vw;
    text-align: center;
}

.bigTitle img {
    margin-top: 13em;
    width: 60%;
}

.bigTitle h1 {
    color: $font-color;
    font-family: $secondary-font-family;
    font-weight: lighter;
    letter-spacing: 0.2em;
}

.bigTitle h3 {
    margin-top: -0.2em;
    color: $font-color;
    font-family: $secondary-font-family;
    font-weight: lighter;
    letter-spacing: 0.2em;
}