// IMPORT FONTS & VARIABLES
@import "../utilities/variables";

.quisommesnous {
    display: flex;
    justify-content: space-around;
    padding: 1em;
    color: $font-color;
    background-color: #121212;
}

.quisommesnous img {
    width: 38%;
}

.quisommesnous div {
    width: 48%;
}

.quisommesnous div h2 {
    margin-top: 1em;
    margin-bottom: 2em;
    letter-spacing: 0.3em;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: bolder;
    font-family: $secondary-font-family;
}

.quisommesnous div p {
    margin-bottom: 2em;
    font-size: 1.1rem;
    line-height: 2em;
    font-family: $primary-font-family;
}

.quisommesnous a {
    margin-left: 85%;
    padding: 0.3em;
    color: $secondary-font-color;
    font-size: 1rem;
    border-radius: 0.4em;
    text-decoration: 2px solid white;
    text-transform: uppercase;
    font-weight: bold;
    font-family: $primary-font-family;
    transition: all 0.3s ease-in-out;
}

.quisommesnous a:hover {
    color: $font-color;
    background-color: $secondary-font-color;
}