// IMPORT SCSS FONT
@import "../utilities/fonts";


// FONTS VARIABLES
$primary-font-family: 'Raleway', sans-serif;
$secondary-font-family: 'Poiret One', cursive;

// COLORS VARIABLES
$font-color: #FFF;
$font-color-hover: #FFCB74;

// OTHERS VARIABLES
$big-title-bg: url(../../img/restobackground.jpg);